<h1><%= @user.name %>さんの投稿一覧</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>

<%= link_to "ユーザー情報編集", edit_user_path(@user) %>